{% extends 'templates/admin.twig' %}
{% set title= '收款记录' %}
{% block content %}
	<div class="am-g">
		<table class="am-table am-table-bordered am-padding">
			<thead>
				<th>时间</th>
			<th>订单号</th>
			<th>门店</th>
			<th>支付类型</th>
			<th>金额</th>
			<th>状态</th>
			<th>操作</th>
			</thead>
			<tbody>
				{% for item in log_list %}
					<tr>
						<td>{{ item.create_time|date('Y-m-d H:i:s') }}</td>
						<td>{{ item.tid }}</td>
						<td>
							{{ store_list[item.sid] ?: '未知店铺'}}

						</td>
						<td>
							{{ item.PayType }}
 						</td>
 						<td>
 							{{ item.fee }}元
 						</td>
 						<td>
 							{% if item.status == 1 %}
								<span class="am-text-success">成功</span>
 							{% endif %}
 						</td>
 						<td>
 							<a href="{{ path_for('admin.store.logging.detail',{'id' :item.id}) }}">查看详情</a>
 						</td>

					</tr>
				{% endfor %}
			</tbody>
			<tfoot>

				

				
			</tfoot>
		</table>
		{%if log_list.hasPages() %} 
		  {% set elements = log_list.toArray() %}
		 <div class="am-margin am-cf">
        <hr/>
        <p class="am-fl">当前第 {{elements.current_page}} 页</p> 
        <ol class="am-pagination am-fr">
        	
         <li>
         	<a href="{{slim.uri.getBasePath()}}">第一页</a>
         </li>
       
          <li  {%if (log_list.onFirstPage()) %} class="am-disabled" {%endif%}><a href="{{ log_list.previousPageUrl() }}">上一页</a></li> 	 	

            <li {%if not log_list.hasMorePages() %} class="am-disabled"  {%endif%} ><a href="{{ log_list.nextPageUrl() }}" rel="next">下一页</a></li>
   
         
       
         
        </ol>
      </div>
       
{%endif%}
	</div>
	
{% endblock %}
