{% extends 'templates/admin.twig' %}
{% set title= '收款记录' %}
{% block content %}
	<div class="am-g">
		<table class="am-table am-table-bordered am-padding">
			<thead>
				<th>时间</th>
			<th>订单号</th>
			<th>门店</th>
			<th>支付类型</th>
			<th>金额</th>
			<th>状态</th>
			<th>操作</th>
			</thead>
			<tbody>
				{% for item in log_list %}
					<tr>
						<td>{{ item.create_time|date('Y-m-d H:i:s') }}</td>
						<td>{{ item.tid }}</td>
						<td>
							{{ store_list[item.sid] ?: '未知店铺'}}

						</td>
						<td>
							{{ item.PayType }}
 						</td>
 						<td>
 							{{ item.fee }}元
 						</td>
 						<td>
 							{% if item.status == 1 %}
								<span class="am-text-success">成功</span>
 							{% endif %}
 						</td>
 						<td>
 							<a href="{{ path_for('admin.store.logging.detail',{'id' :item.id}) }}">查看详情</a>
 						</td>

					</tr>
				{% endfor %}
			</tbody>
			<tfoot>

				{%if log_list.hasPages() %} 
 <div class="am-margin am-cf">
        <hr/>
        <!-- <p class="am-fl">共 15 条记录</p> -->
        <ol class="am-pagination am-fr">
        	  {% set elements = log_list.toArray() %}
         {%if (log_list.onFirstPage()) %}
       
          <li class="am-disabled"><a href="#">&laquo;</a></li>
          {%else%}
           <li class="am-disabled"><a href="{{ log_list.previousPageUrl() }}">&laquo;</a></li>
           {%endif%}
{#         @foreach ($elements as $element)
            {{-- "Three Dots" Separator --}}
            @if (is_string($element))
                <li class="am-disabled"><span>{{ $element }}</span></li>
            @endif
 #}
           
{#             {% for item in (elements.from+1) .. (elements.to) %}
				<li><a href="{{app.request.uri}}?page={{item}}">{{ item|json_encode|raw }}</a></li>
            {% endfor %}
     
        #}
    

   	 	{%if log_list.hasMorePages() %}

            <li><a href="{{ log_list.nextPageUrl() }}" rel="next">&raquo;</a></li>
       {% else %}
            <li class="am-disabled"><span>&raquo;</span></li>
       {%endif%}
         
        </ol>
      </div>
       
{%endif%}
				
			</tfoot>
		</table>
	</div>
	
{% endblock %}
